body {
    font-family: Arial;
    background: #f2f2f2;
}

.container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
}

input,
button {
    padding: 10px;
    margin: 5px;
}

button {
    cursor: pointer;
}

.task {
    background: white;
    padding: 15px;
    margin: 10px;
    border-radius: 10px;
}

.overdue {
    border-left: 6px solid red;
}

.search {
    width: 90%;
}

@media(max-width:600px) {
    input,
    button {
        width: 100%;
    }
}